ch06/images/spritesheet project/santa/character.json
ch06/images/spritesheet project/santa/credits/credits.csv
ch06/images/spritesheet project/santa/credits/credits.txt
ch06/images/spritesheet project/santa/credits/metadata.json
ch06/images/spritesheet project/santa/standard/backslash.png
ch06/images/spritesheet project/santa/standard/climb.png
ch06/images/spritesheet project/santa/standard/combat_idle.png
ch06/images/spritesheet project/santa/standard/emote.png
ch06/images/spritesheet project/santa/standard/halfslash.png
ch06/images/spritesheet project/santa/standard/hurt.png
ch06/images/spritesheet project/santa/standard/idle.png
ch06/images/spritesheet project/santa/standard/jump.png
ch06/images/spritesheet project/santa/standard/run.png
ch06/images/spritesheet project/santa/standard/shoot.png
ch06/images/spritesheet project/santa/standard/sit.png
ch06/images/spritesheet project/santa/standard/slash.png
ch06/images/spritesheet project/santa/standard/spellcast.png
ch06/images/spritesheet project/santa/standard/thrust.png
ch06/images/spritesheet project/santa/standard/walk.png
ch06/images/spritesheet project/lpc_male_animations_2025-10-13T00-51-23.zip
